<!-- HOME CONTENT HTML GOES HERE -->
<div class="grid">
    <article>
      <hgroup>
        <h2> Sma ... SPA</h2>
        <!-- <h3>It's Pretty Simple and Quick!</h3> -->
      </hgroup>
      <ul>
        <li>Define Routes and Build Their HTML Content.</li>
        <li>Prevent Browser from refreashing on Link Clicks.</li>
        <li>Re-Render View Element HTML Conent! That's It!!</li>
      </ul>
      
    </article>
  </div>
  <div id="comments" data-url="netlify.smaspa.app" clickToLoad="false"></div>